<nav>
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="/posts">To the Wall</a>
    </li>
    <li>
      <a href="#"></a>
    </li>
    <li>
      <a href="#"></a>
    </li>
  </ul>
</nav>
