<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include ./partials/head %>
  <body>
    <% include ./partials/nav %>
    <h1 align='center'>You're on the <%=title%></h1>
  </body>
  <% include ./partials/footer %>
</html>
