<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to the Posts Page</title>
  </head>
  <body>
    <h1 align='center'> Here are all the Posts</h1>
    <hr>
    <form action="/posts" method="POST">
      <textarea name="content" rows="8" cols="80">

      </textarea>
    </form>
  </body>
</html>
