<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include ./partials/head %>
  <body>
    <h2 align='center'>Here is one post:</h2>
    <hr>
    <p align='center'><%=post.content%></p>
  </body>
</html>
