<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include ./partials/head %>
  <body>
    <h1 align='center'> Here are all the Posts</h1>
    <hr>
    <form align='center'action="/posts" method="POST">
      <textarea
        name="content"
        rows="8"
        cols="80">
      </textarea>
        <div>
        <input type="submit" value="Add Post">
        </div>
    </form>
    <%posts.forEach((post) => {%>
      <div class="text-box"align='center'>
        <p align='center'><%=post.content%></p>
      </div>
      <form action="/comments/<%= post._id %>" method="POST">
        <input type="text" name="comments">
        <input type="submit"value="Add a Comment">
      </form>
    <%})%>
  </body>
</html>
