.text-box {
  width: 300px;
  height: 100px;
  border: 2px solid grey;
  border-radius: 3%;
  margin: auto;
  margin-top: 20px;
  padding: 20px
}

footer {
  position: absolute;
  bottom: 5%;
  left: 45%;
}
